* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.but1 {
  border: none;
  background: #3a68b8;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
.icon {
  width: 30px;
  margin-right: 10px;
}
.li {
  display: flex;
  margin-top: 10px;
}
.li p {
  margin-left: 15px;
  cursor: pointer;
  color: white;
}
.wrap {
  display: flex;
}
.section1 {
  width: 49%;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  margin-left: 135px;
}
.arti {
  margin-top: 20px;
  font-size: 26px;
}
.Lorem {
  margin-top: 20px;
}
.Get button {
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  background-color: #3a68b8;
}
.section1 p {
  color: #3a68b8;
}

.get {
  display: flex;
  margin-left: 10px;
}
.wrap_right {
  width: 632px;
  height: 534px;
}
.logo_group {
  display: flex;
  width: 50px;
  height: 30px;
  margin-left: 10px;
}
.logo_group img {
  margin-left: 120px;
  cursor: pointer;
}
.Bar{
  display: none;
}

@media screen and (max-width:908px) {
  .li p{
    display: none;
  }
  .Bar{
    display: block;
    color: white;
    margin-left: 100px;
    cursor: pointer;
  }
  .Get {
    display: flex;
    flex-direction: row !important;
    
  }
  
}
@media screen and (min-width:909px) and (max-width:1200px) {
  
  .Get {
    display: flex;
    flex-direction: row !important;
    
  }
  .footer2{
    margin-left: 20px !important;
  }

  .card1{
    font-size: 10px;
    
    
  }
  .card1 img{
    width: 100%;
    
  }
  .logo_group{
    margin-top: -40px;
    margin-left: -10px;
  }
  .logo_group img{
    margin-left:70px;
  }
  .wrap_right{
    width: 100%;
  }

}

.Asos {
  height: fit-content;
  background-color: #020A18;
}
.asos_wrapper {
  display: flex;
}
.asos_rasm {
  width: 500px;
  height: 469px;
  margin-top: 150px;
}
.asos_learn {
  display: flex;
  flex-direction: column;

  justify-content: center;
  color: white;
  margin-left: 100px;
}
.asos_learn p {
  margin-top: 40px;
  width: 300px;
}
.asos_learn button {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background-color: #3a68b8;
  border-radius: 10px;
}
@media screen and (max-width:908px) {
  .wrap_right{
    width: 100%;
  }
  .logo_group{
    margin-left: 0px;
    
  }
  .logo_group img{
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .asos_rasm{
    width: 100%;
  }
  .asos_card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_wrap{
    display: flex;
    flex-direction: column;
  }
  
}

.asos_card {
  display: flex;
}
.card1{
  width: 250px;
  height: 300px;
  background-color: #101825;
  margin-top: 50px;
  margin-left: 15px;
  border-radius: 10px;
  color: white;
}
.card1 h3 {
  margin-left: 8px;
}
.card1 p{
  margin-left: 9px;
  margin-top: 10px;
}
.footer_wrap{
  background-color: #070F1C;
  display: flex;
  padding: 70px 100px;
}.iconmail{
  display: flex;

/* justify-content: center; */
align-items: center;
}

.footer1 p{
  margin-top: 10px;
}

.iconmail{
  margin-top: 10px;
  
}
.iconmail p{
  color: white;
  margin-left: 10px;
}
.iconmail img{
  margin-top: 10px;
}
.iconphone p{
  margin-left: 10px;
  color: white;
}
.iconloc p{
  margin-left: 10px;
  color: white;
}
.iconphone img{
  width: 20px;
  height: 20px;
  margin-top: 13px;
}
.iconloc img{
  width: 20px;
  height: 20px;
  margin-top: 12px;
}
.footer2{
  color: white;


margin-left: 50px;
}
.footer2 h3{
  color:  white;
  margin-top: 20px;

}
.footer2 p{
  margin-top: 15px;
  cursor: pointer;
}.icontwit img{
  margin-left: 10px;
  margin-top: 20px;
}
.global{
  display: flex;
  
  align-items: center;
} .global img{
 width: 20px;
 margin-top: 15px;
 height: 20px;
}
.global p{
  margin-left: 10px;
}